
.container-comics {
	padding-top: 1rem;
	padding-left: 1.5rem;
	background-color: #e2e2e2
}

img.avatar {
	height: 130px;
	width: 130px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: left;
}

.info {
	word-wrap: break-word;
	margin-top: 15px;
	font-size: 0.8rem;
	margin-right: 16px;
}