
.container-comics {
	padding-top: 1rem;
	padding-left: 1.5rem;
	background-color: #e2e2e2;
	min-height: 100vh;
}

.avatar-character {
	height: 170px;
	min-width: 390px;
}

.avatar-character img {
	height: 130px;
	width: 130px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar-character span {
	margin-left: 15px;
	font-size: 32px;
}

.comics-row {
	padding-bottom: 30px;
}

.comics-row .comic-col {
	margin-bottom: 10px;
	min-width: 330px;
}

.comic-col .item {
	background-color: #fff;
	border:1px solid rgba(0,0,0,.125);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}





























