<div class="container-fluid container-comics page">
	
	<div class="avatar-character">
		<img src="assets/marvel-logo.png" class="rounded-circle" />
		<span>Marvel's Comics</span>
	</div>
	
	<div class="container">
		<div class="row comics">
			<div class="item col-sm-12 col-md-6 col-lg-6 col-xl-4">
				<div class="item-info">
					<img src="assets/marvel-logo.png" />
					<h5>Marvel</h5>
					<div class="info">Lorem Ipsum</div>
					<div class="options">
						<div class="row">
							<div class="col-12"><button class="btn btn-primary">Add to favorites</button></div>
							<div class="col-12"><button class="btn btn-danger">Buy</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
