
.container-comics {
	padding-top: 1rem;
	padding-left: 1.5rem;
	background-color: #e2e2e2
}

.avatar-character {
	height: 170px;
	min-width: 390px;
}

.avatar-character img {
	height: 130px;
	width: 130px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar-character span {
	margin-left: 15px;
	font-size: 32px;
}

.comics {
	padding-bottom: 30px;
}

.custom-col {
	margin-bottom: 10px;
	min-width: 330px;
}

.item {
	background-color: #fff;
	border:1px solid rgba(0,0,0,.125);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.info {
	padding: 15px;
}

.info img {
	height: 180px;
	width: 120px;
	float: left;
	margin-right: 10px;
}

.item .options {
	clear: both;
	font-size: 0.8rem;
	padding-top: 15px;
}

.info .description {
  word-wrap: break-word;
  margin-top: 15px;
  font-size: 0.8rem;
  margin-right: 16px;
}

.btn-fav-add, .btn-buy {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  border: none;
}

.btn-fav-add img, .btn-buy img {
  margin-right: 10px;
}

.btn-buy {
  background-color: #dcdcdc;
  color: #f0141e;
}

.btn-fav-add {
  background-color: #f3f3f3;
}





























