<div class="container-fluid container-comics">

	<div class="loading" *ngIf="loading">
		<img src="../../assets/loader.gif" />
	</div>
	
	<div class="avatar-character">
		<img src="{{ characterImagePath + '/standard_large.' + characterImageExtension }}" class="rounded-circle" />
		<span>{{ characterName }}'s Comics</span>
	</div>

	<div class="no-results" *ngIf="resultMsg.length>0">
		{{ resultMsg }}
	</div>
	
	<div class="container">
		<div class="row comics-row" *ngIf="!loading">
			<div class="comic-col col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let comic of comics; trackBy: trackComic">
				<div class="item">
					<div class="info">
						<img src="{{ comic.thumbnail.path + '/portrait_large.' + comic.thumbnail.extension }}" />
						<h5>{{ comic.title }}</h5>
						<div class="description">{{ comic.description }}</div>
					</div>
					<div class="options">
						<div class="btn-fav-add" (click)="addToFavourites(comic)" [ngClass]="{'btn-fav-added': comic.isFavourite || checkFavourite(comic.id)}">
							<img [src]="(comic.isFavourite || checkFavourite(comic.id)) ? '../../assets/btn-favourites-primary.png' : '../../assets/btn-favourites-default.png'" />
							<span *ngIf="!(comic.isFavourite || checkFavourite(comic.id))">ADD TO FAVOURITES</span>
							<span *ngIf="comic.isFavourite || checkFavourite(comic.id)">ADDED TO FAVOURITES</span>
						</div>
						<div class="btn-buy">
							<img src="../../assets/shopping-cart-primary.png" />
							BUY FOR ${{ comic.prices[0].price }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<ngb-pagination [collectionSize]="size" [(page)]="page" [maxSize]="5" (pageChange)="getCharacterComics()" *ngIf="!loading && size"></ngb-pagination>

	</div>
</div>
