<div class="container-fluid container-comics page">
	
	<div class="avatar-character">
		<img src="assets/marvel-logo.png" class="rounded-circle" />
		<span>Marvel's Comics</span>
	</div>
	
	<div class="container">
		<div class="row comics">
			<div class="custom-col col-sm-12 col-md-6 col-lg-6 col-xl-4">
				<div class="item">
					<div class="info">
						<img src="assets/marvel-logo.png" />
						<h5>Marvel</h5>
						<div class="description">Lorem Ipsum</div>
					</div>
					<div class="options">
						<button class="btn-fav-add"><img src="../../assets/btn-favourites-default.png" /> ADD TO FAVOURITES</button>
						<button class="btn-buy"><img src="../../assets/shopping-cart-primary.png" /> BUY FOR </button> <!-- {{ comic.price }} -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
