
.footer {
    width: 100%;
    height: 90px;
    clear: both;
}

.container-footer {
	background:url("../../../assets/grability-logo.png") no-repeat right;
	background-size: 40px;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: table;
	overflow: hidden;
	min-width: 335px;
}

.container-footer span {
	vertical-align: middle;
	display: table-cell;
}
