
.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.container {
	background:url("../../../assets/grability-logo.png") no-repeat right;
	background-size: 30px;
}
