<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
    	<img src="assets/marvel-logo.png" class="header-logo">
    </a>

    <div class="collapse navbar-collapse" [ngClass]="{'collapse': !isCollapsed}">
      <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="goToCharacterComics($event)">
        <input formControlName="character" class="form-control mr-sm-2" type="text" placeholder="Character" value="{{ search_value }}">
        <button class="btn btn-outline-danger my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>