<div class="container-fluid page">

	<div class="row">
		
		<div class="col-md-9 characters-container">
			<div class="title-characters">
				<span>Characters</span>
			</div>

			<div class="row characters">
				<div class="item col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<h5>Marvel</h5>
					<img src="assets/marvel-logo.png" class="rounded-circle" />
					<div class="card-info">
						<div class="clearfix"></div>
						<div class="info">gsfdnjkfagljkasafñoflksbdihfbasdljkfbasjlkfbsadjklfdsafkdsaklfbasfkalngjksdab</div>
						<button [routerLink]="['/comics', 'asdasdd']" class="btn btn-danger btn-sm">View Comics</button>
						<div style="clear: both; margin-left: 15px; font-size: 0.8rem">
							<span style="font-weight: bold; font-size: 0.9rem">Related Comics</span>
							<div class="row" style="margin-top: 5px;">
								<div class="col-6">Comic # 1</div>
								<div class="col-6">Comic # 1</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<h5>Marvel</h5>
					<img src="assets/marvel-logo.png" class="rounded-circle" />
					<div class="card-info">
						<div class="clearfix"></div>
						<div class="info">gsfdnjkfagljkasafñoflksbdihfbasdljkfbasjlkfbsadjklfdsafkdsaklfbasfkalngjksdab</div>
						<button type="button" class="btn btn-danger btn-sm">View More</button>
					</div>
				</div>
				<div class="item col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<h5>Marvel</h5>
					<img src="assets/marvel-logo.png" class="rounded-circle" />
					<div class="card-info">
						<div class="clearfix"></div>
						<div class="info">gsfdnjkfagljkasafñoflksbdihfbasdljkfbasjlkfbsadjklfdsafkdsaklfbasfkalngjksdab</div>
						<button type="button" class="btn btn-danger btn-sm">View More</button>
					</div>
				</div>
				<div class="item col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<h5>Marvel</h5>
					<img src="assets/marvel-logo.png" class="rounded-circle" />
					<div class="card-info">
						<div class="clearfix"></div>
						<div class="info">gsfdnjkfagljkasafñoflksbdihfbasdljkfbasjlkfbsadjklfdsafkdsaklfbasfkalngjksdab</div>
						<button type="button" class="btn btn-danger btn-sm">View More</button>
					</div>
				</div>
				<div class="item col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<h5>Marvel</h5>
					<img src="assets/marvel-logo.png" class="rounded-circle" />
					<div class="card-info">
						<div class="clearfix"></div>
						<div class="info">gsfdnjkfagljkasafñoflksbdihfbasdljkfbasjlkfbsadjklfdsafkdsaklfbasfkalngjksdab</div>
						<button type="button" class="btn btn-danger btn-sm">View More</button>
					</div>
				</div>
			</div>
			
			<ngb-pagination [collectionSize]="1200" [(page)]="page" [maxSize]="5"></ngb-pagination>

		</div>

		<div class="col-md-3 favourites-container">
			<div class="title-favourites">
				<span>My Favourites</span>
			</div>

			<div class="row favourites">
				<div class="container-item-fav">
					<div class="item-fav">
						<img src="assets/btn-delete.png" class="rounded-circle" class="btn-delete" />
						<img src="assets/marvel-logo.png" id="magazine" />
						<p style="text-align: center;">ajlkfnjksgsjdk asdjfnsakldfnjkl</p>
					</div>
				</div>
					
				<div class="container-item-fav">
					<div class="item-fav">
						<img src="assets/btn-delete.png" class="rounded-circle" class="btn-delete" />
						<img src="assets/marvel-logo.png" id="magazine" />
						<p style="text-align: center;">ajlkfnjksgsjdk asdjfnsakldfnjkl</p>
					</div>
				</div>
				<div class="container-item-fav">
					<div class="item-fav">
						<img src="assets/btn-delete.png" class="rounded-circle" class="btn-delete" />
						<img src="assets/marvel-logo.png" id="magazine" />
						<p style="text-align: center;">ajlkfnjksgsjdk asdjfnsakldfnjkl</p>
					</div>
				</div>
				<div class="container-item-fav">
					<div class="item-fav">
						<img src="assets/btn-delete.png" class="rounded-circle" class="btn-delete" />
						<img src="assets/marvel-logo.png" id="magazine" />
						<p style="text-align: center;">ajlkfnjksgsjdk asdjfnsakldfnjkl</p>
					</div>
				</div>

			</div>
		</div>

	</div>
	
</div>