
.characters-container {
  padding-top: 1rem;
  padding-left: 1.5rem;
  background-color: #e2e2e2;
}

.favourites-container {
  padding-top: 1rem;
  background-color: #cbcbcb;
  overflow: auto;
  height: 100vh;
}

.title-characters, .title-favourites {
  position:relative;
  display: inline-block;
  height:40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 35px;
}

.title-characters span, .title-favourites span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.title-characters button {
  float: right;
}

.title-characters {
  background: url('../../assets/characters.png') 0 no-repeat;
  background-size: 28px;
  width: 100%;
  min-width: 352px;
}

.title-favourites {
  background: url('../../assets/favourites.png') 0 no-repeat;
  background-size: 28px;
}

.col-character {
  min-width: 352px;
}

.characters {
  margin-top: 20px;
  max-width: 1010px;
  margin-right: auto;
  margin-left: auto;
}

.characters .item {
  height: auto;
  position: relative;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.item-info {
	position: relative;
	z-index: 2;
	margin-left: 10px;
}

.item img {
	height: 130px;
	width: 130px;
	position: absolute;
	top:0;
	left: 5px;
	z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-info h5 {
}

.item-info .card-info {
	height: 100%;
	z-index: 1;
	margin-top: 10px;
	background-color: #fff;
	border:1px solid rgba(0,0,0,.125);
}

.item-info button {
	display: block;
	margin-bottom: 8px;
}

.background-item {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 10px;
	left: 10px;
}

.favourites {
	max-width: 360px;
	margin:auto;
}

.container-item-fav {
	width: 180px;
	margin: auto;
}

.item-fav {
	width: 160px;
	position: relative;
}

.item-fav .btn-delete {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
}

.item-fav #magazine {
	height: 220px; 
	width: 150px;
	margin-top: 10px;
}

.item-fav p {
	text-align: center;
}

.pvw-title span {
  display: none;
}
.pvw-title:after {
  content: 'whatever it is you want to add';
}

.clearfix {
	width: 130px;
	height: 130px;
	float: left;
}

.info {
	word-wrap: break-word;
	margin-top: 15px;
	font-size: 0.8rem;
	margin-right: 16px;
	margin-left: 16px;
}

.btn-danger {
	margin-top: 5px;
	background-color: #f0141e;
	border-color: #f0141e;
}

.btn-outline-danger {
	color: #f0141e;
	border-color: #f0141e;
}

.container-comics {
	clear: both;
	margin-left: 10px;
	font-size: 0.8rem;
	padding-top: 10px;
}

.container-comics .title {
	font-weight: bold;
	font-size: 0.9rem;
	margin-top: 10px;
}

.container-comics .row .col-6 {
	margin-top: 5px;
	margin-bottom: 5px;
}


