
<div class="container-fluid">
	<div class="loading" *ngIf="loading || loadingFav">
		<img src="../../assets/loader.gif" />
	</div>

	<div class="row">
		
		<div id="characters-container" class="col-md-9">
			<div class="title-characters">
				<span>Characters</span>
				<button class="btn btn-warning btn-sm" (click)="getRandomComics()">Get Random Favourite Comics!</button>
			</div>

			<div class="no-results" *ngIf="resultMsg.length>0">
				{{ resultMsg }}
			</div>

			<div class="row characters-row" *ngIf="!loading">
				<div class="character-col col-sm-12 col-md-12 col-lg-6 col-xl-6" *ngFor="let character of characters">
					<div class="item">
						<img src="{{ character.thumbnail.path + '/standard_large.' + character.thumbnail.extension }}" class="rounded-circle" />

						<div class="item-info">
							<div class="clearfix"></div>
							<div class="info">
								<h5>{{ character.name }}</h5>
								{{ character.description }}
								<span *ngIf="!character.description.length">No available description</span>
							</div>
							
							<div class="container-comics">
								<button (click)="goToCharacterComics(character)" class="btn btn-danger btn-sm">View Comics</button>
								<span class="title">Related Comics</span>
								<div class="row">
									<div class="col-6" *ngFor="let comic of character.comics.items | slice:0:4;">{{ comic.name }}</div>
								</div>
								<div *ngIf="!character.comics.available">Not Available Comics</div>
							</div>
						</div>

						<div class="background-item"></div>
					</div>
				</div>

			</div>

			<ngb-pagination [collectionSize]="size" [(page)]="page" [maxSize]="5" (pageChange)="getCharacters()" *ngIf="!loading && size"></ngb-pagination>

		</div>

		<div id="favourites-container" class="col-md-3">
			<div class="title-favourites">
				<span>My Favourites</span>
			</div>

			<div class="row favourites-row">

				<div class="no-favourites" *ngIf="favourites.length<1">
					No favourites added yet...
				</div>

				<div class="container-item-fav" *ngFor="let favourite of favourites">
					<div class="item-fav" (click)="openDetailFavourite(content, favourite.id)">
						<img src="assets/btn-delete.png" class="rounded-circle" class="btn-delete" (click)="delete(favourite.id)" />
						<img src="{{ favourite.imgPath + '/standard_large.' + favourite.imgExtension }}" id="magazine" />
						<p>{{ favourite.title }}</p>
					</div>
				</div>

			</div>
		</div>

	</div>

	<ng-template #content let-c="close" let-d="dismiss">
		<div class="modal-body">
			<img src="assets/btn-close.png" class="close" aria-label="Close" (click)="c()" />
			<div class="info">
				<img src="{{ favouriteSelected.imgPath + '/portrait_large.' + favouriteSelected.imgExtension }}" />
				<h5>{{ favouriteSelected.title }}</h5>
				<div class="description">{{ favouriteSelected.description }}</div>
			</div>
			<div class="options">
				<div class="btn-fav-added w-50 float-left">
					<img src="../../assets/btn-favourites-primary.png" />
					<span>ADDED TO FAVOURITES</span>
				</div>
				<div class="btn-buy w-50 float-left">
					<img src="../../assets/shopping-cart-primary.png" />
					BUY FOR ${{ favouriteSelected.price }}
				</div>
			</div>
		</div>
	</ng-template>
	
</div>